.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 0.25rem;
  background-color: #9ea1a3;
}

.Nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  list-style: none;
  margin: 0;
  border: 2px solid black;
  border-radius: 15px;
}
.Nav a {
  color: #ffff;
  text-decoration: none;
  margin: 4px;
  font-weight: bolder;
}
.Nav a:hover {
  color: #e1ce7a;
}
.Nav a:active {
  color: #a7917a;
}
.title {
  font-weight: bold;
  display: flex;
  color: #e1ce7a;
}
