/*  color pallete
    #06aed5 - light blue
    #086788 -- darker blue
    #f0c808 -- yellow  , keywords
    #fff1d0 -- offwhite  ,text 
     */

* {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.emoji {
  height: 2rem;
}

.app {
  /* background-color: #fff1d0; */
  /* background-image: url("./assets/images/background.webp"); */
  /* background-repeat: no-repeat; */
}

.home {
  /* background-color: #f0c808; */
  height: 40rem;
  margin: 0;
}
.container {
  justify-content: baseline;
}
.about {
  height: 40rem;
}
.projects {
  height: 40rem;
}
.contact {
  height: 40rem;
}

/* .home {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .nav {
  background-color: #096788;
  color: #fff1d0;
}

.home {
  background-color: #f0c808;
} */
