:root {
  --main-bg-color: #cde6f5;
  --txt-color: #87919e;
}
* {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.459);
  height: 2rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.links {
  color: black;
  margin: 3px;
  text-decoration: none;
}
.links :hover {
  color: white;
}

#home {
  height: 50rem;
  background-color: var(--main-bg-color);
  color: var(--txt-color);
}

#projects {
  justify-content: center;
  height: 50rem;
  width: 18rem;
}
.project-card {
  display: flex;
}
#contact {
  height: 50rem;
  background-color: var(--main-bg-color);
}
#footer {
  display: block;
  align-items: center;
}
